/**********************************
            Variables
*********************************/

:root {
	--brand-color: rgb(255, 15, 64);
	--text-color: rgb(54, 54, 55);
	--main-bg-color: rgb(255, 255, 255);
	--light-bg-color: rgb(248, 248, 248);
	--light-text-color: rgba(54, 54, 55, 0.60);
	--regular-text-color: rgba(54, 54, 55, 0.80);
	--primary-font: 'Heebo';
	--white: rgb(255, 255, 255);
	--border-radius-size: 0.3em;
	--border-radius-pill-size: 1em;
	--box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/**********************************
            Base Style
*********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--primary-font, 'roboto', sans-serif);
	font-size: 1.125rem;
	color: var(--text-color);
	background-color: var(--main-bg-color);
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: var(--light-text-color);
}

a:hover {
	color: var(--brand-color);
}

.active-link {
	color: var(--brand-color);
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

.h-display {
	display: inline-block;
}

.btn {
	background-color: var(--brand-color);
	border: 0;
	color: var(--white);
	padding: 1.5em 2em;
	font-weight: 600;
}

.form-control {
	width: 100%;
	padding: 1.5em 1em;
	border: 0;
}

.form-control:focus {
	outline: 0;
}

/**********************************
            Typography
*********************************/

h1 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.3em;
	text-transform: capitalize;
}

.small-text {
	font-size: 0.8rem;
}

.regular-text {
	font-size: 1rem;
}

/**********************************
            Layout
*********************************/
.container {
	padding: 0 3em;
}

/* Header */

header {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.brand {
	padding: 1em 2em;
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--white);
	background-color: var(--brand-color);
	border-radius: var(--border-radius-size);
	letter-spacing: -0.07px;
	margin-right: 5em;
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

#header-menu,
#footer-menu {
	display: none;
}

.menu {
	display: none;
}

nav li {
	margin-right: 2em;
}

nav .link-item {
	font-size: 1.1rem;
}

nav .sign-up {
	color: var(--brand-color);
}

/* Footer */

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	left: 0;
	height: 5em;
	max-height: 100%;
	background-color: var(--light-bg-color);
}

footer .mobile-footer {
	width: 100%;
}

.footer-drawer {
	display: grid;
	grid-template-columns: 2fr 3fr;
}

footer .left {
	display: flex;
	align-items: center;
	padding-right: 2em;
}

footer .link-item {
	flex-grow: 1;
}

footer .link-item a {
	display: flex;
	align-items: center;
	text-transform: capitalize;
}

footer img {
	height: 2em;
	margin-right: 0.5em;
}

footer .category {
	flex-grow: 2;
}

footer .right {
	display: flex;
	align-items: center;
}

/* Main */

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}

main .left {
	padding-right: 13em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main .left .title {
	padding-bottom: 0.6em;
}

main .left .form-group {
	display: flex;
	width: 30em;
	align-items: center;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius-size);
	overflow: hidden;
}

main .left .form-group-inner {
	display: flex;
	flex-grow: 1;
}

main .left label {
	padding: 0 1em;
}

main .left .airline {
	display: flex;
	width: 1.8em;
}

main .left .form-control {
	padding: 0;
}

main .left .form-control-wrap {
	flex-grow: 1;
	position: relative;
}

main .left .submit-btn {
	cursor: pointer;
}

main .left .compass {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
}

main .left .tag-wrap {
	margin-top: 1.2em;
	width: 30em;
}

main .left .tag-wrap ul {
	display: flex;
	justify-content: space-between;
}

main .left .tag-wrap li {
	background-color: var(--light-bg-color);
	border-radius: var(--border-radius-pill-size);
}

main .left .tag-wrap li a {
	padding: 0.1em 1.5em;
	left: 1em;
}

main .left .more {
	display: flex;
	align-items: center;
	height: 100%;
}

main .right {
	height: 100vh;
}

main .right .hero-img {
	float: right;
	display: inline-block;
	height: 100%;
	width: 100%;
	object-position: left;
	object-fit: cover;
	border: 0;
}

@media (max-width: 768px) {
	/* Base */

	.container {
		padding: 0 1em;
	}

	/* Header */

	header {
		display: block;
		z-index: 2;
	}

	.header-drawer {
		display: none;
		top: 120%;
		position: absolute;
		left: 0;
		z-index: 10000;
	}

	.mobile-header {
		display: flex;
		justify-content: space-between;
	}

	.brand {
		display: inline-block;
		margin-right: 0;
	}

	.menu {
		display: inline-flex;
		align-items: center;
		width: 2em;
	}

	.menu label {
		display: flex;
	}

	.menu img {
		width: 2em;
		margin: 0;
	}

	nav {
		width: 100%;
		background-color: var(--light-bg-color);
		display: block;
	}

	nav .h-display {
		display: block;
		text-align: center;
		margin: 0;
	}

	nav .link-item {
		padding: 1em 0;
		display: block;
		border-bottom: 1px solid var(--white);
	}

	/* Footer */

	footer {
		justify-content: flex-end;
	}

	footer .mobile-footer {
		position: relative;
		display: inline-flex;
		width: auto;
	}

	.footer-drawer {
		display: none;
		position: absolute;
		background-color: var(--main-bg-color);
		box-shadow: var(--box-shadow);
		bottom: 150%;
		right: 0;
		width: 12em;
		z-index: 100;
		border: 1px solid var(--brand-color);
	}

	.footer-drawer::after {
		content: "";
		position: absolute;
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-top: 1em solid var(--brand-color);
		bottom: -1em;
		right: 0;
	}

	#header-menu:checked + .header-drawer,
	#footer-menu:checked + .footer-drawer {
		display: block;
	}

	footer .right,
	footer .left {
		display: block;
		padding: 0;
	}

	footer .link-item {
		display: flex;
		align-items: center;
		width: 100%;
	}

	footer .link-item a {
		width: 100%;
		padding: 1em;
	}

	/* Main */

	main {
		display: block;
		position: relative;
	}

	main .left {
		padding: 15em 3em 10em;
	}

	main .left .title {
		padding-right: 2em;
		z-index: 1;
	}

	main .left .form-group {
		background-color: var(--main-bg-color);
		position: relative;
		z-index: 2;
	}

	main .left .tag-wrap {
		z-index: 2;
		position: relative;
	}

	main .left .tag-wrap li {
		margin-bottom: 0.5em;
	}

	main .right {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: -70%;
		z-index: 0;
	}
}

@media (max-width: 425px) {
	/* Main */

	main .left {
		padding: 10em 2em 10em;
	}

	main .left .form-group {
		width: 100%;
		display: block;
	}

	main .left .form-group-inner {
		padding: 1em;
	}

	main .left .tag-wrap {
		width: 100%;
	}

	main .left .submit-btn {
		width: 100%;
		padding: 1em;
	}

	main .left .airline {
		width: 1.5em;
	}

	main .left label {
		padding: 0;
		padding-right: 0.5em;
	}

	main .left .compass {
		right: 0;
	}

	main .left .tag-wrap ul {
		display: block;
	}

	main .left .tag-wrap li {
		display: inline-block;
	}

	main .right {
		right: -70%;
	}
}
