/**********************************
            Variables
*********************************/

:root {
	--brand-color: rgb(255, 15, 64);
	--text-color: rgb(54, 54, 55);
	--main-bg-color: rgb(255, 255, 255);
	--light-bg-color: rgb(248, 248, 248);
	--light-text-color: rgba(54, 54, 55, 0.60);
	--regular-text-color: rgba(54, 54, 55, 0.80);
	--primary-font: 'Heebo';
	--white: rgb(255, 255, 255);
	--border-radius-size: 0.3em;
	--border-radius-pill-size: 1em;
	--box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
}

/**********************************
            Base Style
*********************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: var(--primary-font, 'roboto', sans-serif);
	font-size: 1.125rem;
	color: var(--text-color);
	background-color: var(--main-bg-color);
	height: 100%;
	max-height: 100vh;
}

a {
	text-decoration: none;
	color: var(--light-text-color);
}

.active-link {
    color: var(--brand-color);
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
}

.h-display {
	display: inline-block;
}

.btn {
	background-color: var(--brand-color);
	border: 0;
	color: var(--white);
	padding: 1.5em 2em;
	font-weight: 600;
}

.form-control {
	width: 100%;
	padding: 1.5em 1em;
	border: 0;
}

.form-control:focus {
	outline: 0;
}

/**********************************
            Typography
*********************************/

h1 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 1.3em;
	text-transform: capitalize;
}

.small-text {
	font-size: 0.8rem;
}

.regular-text {
	font-size: 1rem;
}

/**********************************
            Layout
*********************************/
.container {
	padding: 0 3em;
}

/* Header */

header {
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
}

.brand {
	padding: 1em 2em;
	font-size: 1.3rem;
	font-weight: 400;
	color: var(--white);
	background-color: var(--brand-color);
	border-radius: var(--border-radius-size);
	letter-spacing: -0.07px;
	margin-right: 5em;
	box-shadow: var(--box-shadow);
	cursor: pointer;
}

nav li {
	margin-right: 2em;
}

nav .link-item {
	font-size: 1.1rem;
}

nav .sign-up {
	color: var(--brand-color);
}

/* Footer */

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-columns: 2fr 3fr;
	height: 5em;
	align-items: center;
	background-color: var(--light-bg-color);
}

footer .left {
    display: flex;
    padding-right: 2.5em;
}

footer .link-item {
	flex-grow: 1;
}

footer .link-item a {
	display: inline-flex;
	align-items: center;
	text-transform: capitalize;
}

footer img {
	height: 2em;
	margin-right: 0.5em;
}

footer .category {
	flex-grow: 2;
}

footer .right {
	display: flex;
}

/* Main */

main {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 100%;
}

main .left {
	padding-right: 13em;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

main .left .title {
	padding-bottom: 0.6em;
}

main .left .form-group {
	display: flex;
	width: 30em;
	align-items: center;
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius-size);
	overflow: hidden;
}

main .left label {
    padding: 0 1em;
}

main .left .airline {
	display: flex;
    width: 1.8em;
}

main .left .form-control {
	padding: 0;
}

main .left .form-control-wrap {
	flex-grow: 1;
	position: relative;
}

main .left .submit-btn {
	cursor: pointer;
}

main .left .compass {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
}

main .left .tag-wrap {
    margin-top: 1.2em;
}

main .left .tag-wrap ul {
    margin-top: 1.2em;
    display: flex;
    justify-content: space-between;
}

main .left .tag-wrap li {
	background-color: var(--light-bg-color);
    border-radius: var(--border-radius-pill-size);

}

main .left li a {
    padding: 0.1em 1.5em;
}

main .left .more {
    display: flex;
    height: 100%;
}

main .left .more img{
    color: var(--regular-text-color);
}

main .right {
	height: 100vh;
}

main .right .hero-img {
	float: right;
	display: inline-block;
	height: 100%;
	width: 100%;
	object-position: left;
	object-fit: cover;
	border: 0;
}
